<div class="d-flex justify-content-center w-100 h-100 ">
  <div class="w-50 color-secundary ">
    <figure class="w-50">
      <img src="../assets/img/lCeutec.png" alt="" class="w-50 ml-4 mt-4">
    </figure>
    <div class="container-login">
      <h1>Comienza, Iniciando Sesión <span class="font-weight-bold">Con tu Cuenta</span></h1>
      <div class="container-input-login">
        <mat-form-field [hideRequiredMarker]="options.value.hideRequired" [floatLabel]="options.value.floatLabel">
          <input matInput placeholder="Nombre de Usuario" required>
        </mat-form-field>
      </div>
      <div class="container-input-login">
        <mat-form-field>
          <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
      <div class="btn-radio">
        <mat-radio-group>
          <mat-radio-button value="1">Recordar Contraseña</mat-radio-button>
        </mat-radio-group>
        <a href="#">¿Olvidaste tu Contraseña?</a>
      </div>
      <div class="text-center">
        <button mat-raised-button class="btnAcLogin" routerLink="loading" routerLinkActive="active">Entrar</button>
      </div>
    </div>
  </div>
  <div class="w-75 color-primary  h-100">
    <div class="text-center mt-5">
      <figure class="logo">
        <img src="../assets/img/Logo.png" alt="" class="w-75">
      </figure>
      <figure class="animate">
        <img src="../assets/img/animate.png" alt="">
      </figure>
    </div>
  </div>
</div>